<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>


  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <ul>
          <li *ngFor="let family of families$ | async" class="greenBox" (click)="chooseFamily(family)">
            {{ family.lastname }}
            <ul>
              <li class="smallText" *ngFor="let familyMember of family.familyMembers">{{ familyMember.name }}</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-10">
        <ng-container *ngIf="people$ | async as people">
          <ul class="heroes" *ngIf="people | async as myPeople">
            <li class="hero redBox" [@shrinkOut]="person.animationState" *ngFor="let person of myPeople; let i = index" (click)="deleteElement(person)">
              {{ person.name + '(' + myPeople.length + ')' }}
            </li>
            <li *ngIf="myPeople.length === 0">
              Ingen famile.
            </li>
          </ul>
        </ng-container> 
      </div>
  </div>
</div>
